<form action="{{ shpCartUrl }}/incart" method="post" id="cms0002d02Form">
	<div class="main">
		<div id="item-detail">
			{% if itemData.itemInfo2 is not empty %}
				<div class="item-top clearfix">
					<div class="item-detail-txt2 wysiwyg-data">
						{{ itemData.itemInfo2 }}
					</div>
				</div>
			<!-- /.item-top -->
			{% endif %}
			<div class="item-middle clearfix">
				<div class="item-detail-left">
					<div class="item-detail-photo-main raku-item-photo-main">
						<div class="item-detail-photo{% if itemData.badgeId != empty %} icn-badge{{ itemData.badgeId }}{% endif %}" id="jq_item_photo_list">
							<ul class="clearfix">
								<li class="active"><img src="{{ variationList[0].mediaUrlLarge }}" alt=""></li>
								{% for otherMediaUrlLarge in itemData.otherMediaUrlsLarge %}
									<li><img src="{{ otherMediaUrlLarge }}" alt=""></li>
								{% endfor %}
								
							</ul>
						</div>
						<div id="jqitem-backbtn" class="item-detail-photo-backbtn">
							<a href="#">back</a>
						</div>
						<div id="jqitem-nextbtn" class="item-detail-photo-nextbtn">
							<a href="#">next</a>
						</div>
					</div>
					<div class="item-detail-zoom"><a href="#">ZOOM</a></div>
					<div class="item-detail-thumb clearfix">
						<div class="item-detail-thumb-photo raku-item-thumb-photo active">
							<a href="#"><img src="{{ variationList[0].mediaUrlSmall }}" alt=""></a>
						</div>
						{% for otherMediaUrlSmall in itemData.otherMediaUrlsSmall %}
							<div class="item-detail-thumb-photo raku-item-thumb-photo">
								<a href="#"><img src="{{ otherMediaUrlSmall }}" alt=""></a>
							</div>
						{% endfor %}
					</div>
				</div>
				<!-- /.item-detail-left -->
				<div class="item-detail-right">
					<div class="item-detail-info">
						<div class="item-detail-category">{{ itemData.categoryName }}</div>
						<h2 class="item-detail-name {% if itemData.shpRsvFlag == 1 %} icn-reservation {% endif %}">{{ itemData.itemName }}</h2>
						<div class="item-detail-vari">
							<div class="item-detail-vari-price">
								<dl>
									<dt>販売価格</dt>
									<dd><span class="item-detail-vari-price-num raku-item-vari-price-num">{{ variationList[0].displaySalePrice }}</span><span class="item-detail-vari-price-tax raku-item-vari-tax">{{ variationList[0].displaySaleTax }}</span></dd>
								</dl>
							</div>
							{% if registValidFlag == 1 %}
								<div class="item-detail-vari-memberprice" {% if variationList[0].mmbrPrice is empty %} style="display:none" {% endif %}>
									<dl>
										<dt>会員価格</dt>
										<dd><span class="item-detail-vari-memberprice-num raku-item-vari-memberprice-num">{{ variationList[0].displayMmbrPrice }}</span><span class="item-detail-vari-memberprice-tax raku-item-vari-membertax">{{ variationList[0].displayMmbrTax }}</span></dd>
									</dl>
								</div>
							{% endif %}
							<div class="item-detail-vari-normalprice" {% if variationList[0].normalPrice is empty %} style="display:none" {% endif %}>
								<dl>
									<dt>通常価格</dt>
									<dd><span class="item-detail-vari-normalprice-num raku-item-vari-normalprice-num">{{ variationList[0].displayNormalPrice }}</span><span class="item-detail-vari-normalprice-tax raku-item-vari-normaltax">{{ variationList[0].displayNormalTax }}</span></dd>
								</dl>
							</div>
							<div class="item-detail-vari-stock" {% if variationList[0].stock is empty or variationList[0].itmAttrDispTypeId > 2 %} style="display:none" {% endif %}>
								<dl>
									<dt>在庫</dt>
									<dd class="raku-item-vari-stock">{{ variationList[0].displayStock }}</dd>
								</dl>
							</div>
							<div class="item-detail-vari-itemcode" {% if variationList[0].itemCd is empty %} style="display:none" {% endif %}>
								<dl>
									<dt>商品コード</dt>
									<dd class="raku-item-vari-itemcode">{{ variationList[0].itemCd }}</dd>
								</dl>
							</div>
							<div class="item-detail-vari-jancode" {% if variationList[0].jancode is empty %} style="display:none" {% endif %}>
								<dl>
									<dt>JANコード</dt>
									<dd class="raku-item-vari-jancode">{{ variationList[0].jancode }}</dd>
								</dl>
							</div>
						</div>
					</div>
					<div class="item-detail-cart">
						{% if variationList|length > 1 %} 
							{% if itemData.variationDispFlag == 2 %}
								<div class="item-detail-select">
									<label for="variationId">
										<select name="variationId">
											{% for variation in variationList %}
												{% if variationId == variation.variationId %}
													<option value="{{ variation.variationId }}" selected="selected">{{ variation.variationName }}</option>
												{% else %}
													<option value="{{ variation.variationId }}">{{ variation.variationName }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</label>
								</div>
							{% else %}
								<div class="item-detail-cart-vari-radio">
									{% for variation in variationList %}
										<div>
											{% if variationId == variation.variationId %}
												<input type="radio" name="variationId" value="{{ variation.variationId }}" id="{{ variation.variationId }}" checked="checked">
												<label for="{{ variation.variationId }}">{{ variation.variationName }}</label>
											{% else %}
												<input type="radio" name="variationId" value="{{ variation.variationId }}" id="{{ variation.variationId }}">
												<label for="{{ variation.variationId }}">{{ variation.variationName }}</label>
											{% endif %}
										</div>
									{% endfor %}
								</div>
							{% endif %}
						{% else %}
							{% for variation in variationList %}
								<input type="hidden" name="variationId" value="{{ variation.variationId }}">
							{% endfor %}
						{% endif %}
						{% if itemData.itemAttrPtrn == 2 %}
							{% for attr in itemAttrList %}
								{% if attr.formType == 1 %}
									<p>{{ attr.attrName }}</p>
									<div class="item-detail-select">
										<label for="attrValues">
											<select name="attrValues">
												{% for attrValue in attr.attrValues %}
													<option value="{{ attrValue }}" {% if loop.index == 0 %} selected="selected" {% endif %}>{{ attrValue }}</option>
												{% endfor %}
											</select>
										</label>
									</div>
								{% else %}
									<p>{{ attr.attrName }}</p>
									<div class="item-detail-inputtext">
										<input type="text" name="attrValues" maxlength="100">
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
						{% if itemData.numericFormType == 1 %}
							<div class="js-counter-wrap">
								<p>数量</p>
								<div class="item-detail-num-count">
									<div class="item-detail-num-minus">
										<a href="#">-</a>
									</div>
									<div class="item-detail-num">
										<input type="number" name="itemQuantity" class="jq-num-count" value="{{ itemQuantity }}" maxlength="3" max="999" min="1">
									</div>
									<div class="item-detail-num-plus">
										<a href="#">+</a>
									</div>
								</div>
							</div>
						{% endif %} 
						{% if itemData.numericFormType == 2 %}
							<div class="js-counter-wrap">
								<p>数量</p>
								<div class="item-detail-num-select">
									<label for="cart-item-select1">
										<select name="itemQuantity" id="cart-item-select1" class="js-counter-display">
											{% for item in quantityField %}
												{% if itemQuantity == item.value %}
													<option value="{{ item.key }}" selected="selected">{{ item.value }}</option>
												{% else %}
													<option value="{{ item.key }}">{{ item.value }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</label>
								</div>
							</div>
						{% endif %}
						{% if itemData.numericFormType == 3 %}
							<div class="js-counter-wrap">
								<input type="hidden" name="itemQuantity" value="1">
							</div>
						{% endif %}
						{% if itemData.onSale != 0 %}
							{% if itemData.stockExist != 0 %} 
								<div class="item-detail-cart-action raku-item-cart-action">
									<div class="item-detail-cart-btn">
										<a href="#" class="raku-add-cart"><span>カートに入れる</span></a>
									</div>
								</div>
							{% else %}
								<div class="item-detail-cart-action">
									<div class="item-dtail-nostock">在庫切れのため注文いただけません。</div>
								</div>
							{% endif %}
						{% else %}
							<div class="item-detail-cart-action">
								<div class="item-dtail-outofoperiod">販売期間外のため注文いただけません。</div>
							</div>
						{% endif %}
					</div>
					<div class="item-detail-info">
						<div class="item-detail-spec">
							{% if itemData.makerName is not empty %}
							<div class="item-detail-maker">
								<dl>
									<dt>メーカー</dt>
									<dd>{{ itemData.makerName }}</dd>
								</dl>
							</div>
							{% endif %} {% if itemData.brandName is not empty %}
							<div class="item-detail-brand">
								<dl>
									<dt>ブランド</dt>
									<dd>{{ itemData.brandName }}</dd>
								</dl>
							</div>
							{% endif %}
							{% if itemData.campaignList is not empty %}
								<div class="item-detail-campaign">
									<dl>
										<dt>キャンペーン</dt>
										<dd>
											{% for campaign in itemData.campaignList %}
												<a href="/item-list?campaignId={{ campaign.campaignId }}">{{ campaign.campaignName }}</a>{% if loop.index < loop.length - 1 %}｜ {% endif %}
											{% endfor %}
										</dd>
									</dl>
								</div>
							{% endif %}
							{% if itemData.carriage is not empty %}
								<div class="item-detail-shipfee">
									<dl>
										<dt>個別送料</dt>
										<dd>{{ itemData.carriage | numberformat("#,##0") }}円</dd>
									</dl>
								</div>
							{% endif %}
							{% if itemData.deliveryTypeName is not empty %}
								<div class="item-detail-shipway">
									<dl>
										<dt>便種</dt>
										<dd>{{ itemData.deliveryTypeName }}</dd>
									</dl>
								</div>
							{% endif %}
							{% if itemData.shopPayName is not empty %}
								<div class="item-detail-unusable-pay">
									<dl>
										<dt>使用不可お支払い方法</dt>
										<dd>以下のお支払方法では注文いただけません。<br> {% for shopPayName in itemData.shopPayNames %} {{ shopPayName }} {% if loop.index < loop.length - 1 %}｜ {% endif %} {% endfor %} </dd>
									</dl>
								</div>
							{% endif %}
							{% if itemData.providePoint is not empty %}
								<div class="item-detail-point">
									<dl>
										<dt>個別付与ポイント</dt>
										<dd>{{ itemData.providePoint }}ポイント</dd>
									</dl>
								</div>
							{% endif %}
							{% if itemData.ageLowLimit is not empty or itemData.ageUpLimit is not empty %}
								<div class="item-detail-age">
									<dl>
										<dt>年齢制限</dt>
										<dd>
											<div>
												{% if itemData.ageLowLimit is not empty %}
													{{ itemData.ageLowLimit }}歳
												{% endif %}
												&#65374;
												{% if itemData.ageUpLimit is not empty %}
													{{ itemData.ageUpLimit }}歳
												{% endif %}
											</div>
											<div>注文手続き画面にて、生年月日を入力いただきます。</div>
										</dd>
									</dl>
								</div>
							{% endif %}
							{% if itemData.quantityLowLimit is not empty or itemData.quantityUpLimit is not empty %}
								<div class="item-detail-count">
									<dl>
										<dt>注文数制限</dt>
										<dd>
											{% if itemData.quantityLowLimit is not empty %}
												{{ itemData.quantityLowLimit }}
											{% endif %}
											&#65374;
											{% if itemData.quantityUpLimit is not empty %}
												{{ itemData.quantityUpLimit }}
											{% endif %}
										</dd>
									</dl>
								</div>
							{% endif %}
							{% if itemData.saleTermLowLimit is not empty or itemData.saleTermUpLimit is not empty %}
								<div class="item-detail-term">
									<dl>
										<dt>販売期間</dt>
										<dd>{{ itemData.saleTermLowLimit }}&#65374;{{ itemData.saleTermUpLimit }}</dd>
									</dl>
								</div>
							{% endif %}
							
						</div>
					</div>
					{% if itemData.itemInfo3 is not empty %}
						<div class="item-detail-txt3 wysiwyg-data">
						{{ itemData.itemInfo3 }}
						</div>
					{% endif %}

					<div class="item-detail-share">
						<dl>
							<dt>share</dt>
							<dd>
								<ul>
									<li>
										<a href="http://twitter.com/share?url={{ shpUrl }}/item-detail/{{ itemData.itemId }}&text={{ itemData.itemName }}" target="_blank"><img src="{{shpImgUrl}}/cms/yt00001/img/icn-sns-tw.png" alt="twitter"></a>
									</li>
									<li>
										<a href="http://www.facebook.com/share.php?u={{ shpUrl }}/item-detail/{{ itemData.itemId }}" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"><img src="{{shpImgUrl}}/cms/yt00001/img/icn-sns-fb.png" alt="facebook"></a>
									</li>
								</ul>
							</dd>
						</dl>
					</div>
				</div>
				<!-- /.item-middle-right -->
			</div>
			<!-- /.item-middle -->
			{% if itemData.itemInfo1 is not empty %}
				<div class="item-bottom">
					<div class="item-detail-txt1 wysiwyg-data">
						<h4>商品詳細</h4>
						{{ itemData.itemInfo1 }}
					</div>
				</div>
			{% endif %}
			<!-- /.item-bottom -->
		</div>
		<!-- /.item-detail -->


		{% if itemRecommendList|length > 0 %}
			<div id="recommend">
				<div class="ttl">
					<h2>RECOMMEND</h2>
					<h3>おすすめアイテム</h3>
				</div>
				<div class="product-list clearfix">
					{% for item in itemRecommendList %}
						<div class="product-list-item">
							<a href="/item-detail/{{ item.itemId }}">
								<div class="product-list-photo{% if item.badgeId != null %} icn-badge{{ item.badgeId }}{% endif %}">
									{% if item.dispMediaUrl is not empty %}
									<img src="{{ item.dispMediaUrlSmall }}" alt="{{ item.itemName }}"> {% else %}
									<img src="{{ item.mediaUrlSmall }}" alt="{{ item.itemName }}"> {% endif %}
								</div>
								<div class="product-list-info">
									<p class="product-list-name {% if item.shpRsvFlag == 1 %} icn-reservation {% endif %}">{{ item.itemName }}</p>
									<p class="product-list-price"><span class="product-list-num">{{ item.displayPrice }}</span><span class="product-list-tax">{{ item.displayTax }}</span></p>
								</div>
							</a>
						</div>
					{% endfor %}
				</div>
			</div>
		<!-- /#recommend -->
		{% endif %}
	</div>
	<!-- /.main -->
	<input type="hidden" name="itemId" value="{{ itemData.itemId }}">
	<input type="hidden" name="shpHash" value="{{ shpHash }}">
</form>
